@import "tailwindcss";
@plugin "daisyui";

.profile {
    padding: 3rem 5rem;
    min-height: 100vh;
    width: 100%;
}

.profile_card {
    display: flex;
    max-width: 100%;
    margin: auto;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.profile_image {
    max-width: 15rem;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 1rem;
    flex-basis: 50%;
}

.profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.profile-body-block {
    flex-basis: 50%;
    position: relative;
}

.profile-body-edit{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
}

.profile-body-edit-btn {
    background-color: white;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
}

.profile-edit-btn img{
    width: 1rem;
    height: 1rem;
}

.profile_body {
    flex-basis: 50%;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem 0.5rem;
}

.profile_body_name {
    font-size: 1.5rem;
    font-weight: 500;
}

.profile-body_p{
    font-size: 0.9rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-fieldset {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    width: 20rem;
    padding: 2rem 1rem;
    margin: auto;
}

.profile-edit {
    padding: 2rem 10rem;
    /*min-height: 100vh;*/
    width: 100%;
}

.profile-edit-card {
    display: flex;
    max-width: 100%;
    margin: auto;
    flex-direction: column;
    gap: 2rem;
    padding: 0.2rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 1rem;
}

.profile-edit-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}