@import "tailwindcss";
@plugin "daisyui";

.profile {
    padding: 3rem 5rem;
    min-height: 100vh;
    width: 100%;
}

.profile_card {
    display: flex;
    max-width: 100%;
    margin: auto;
    border-radius: 1rem;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.profile_image {
    max-width: 15rem;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 1rem;
    flex-basis: 50%;
}

.profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.profile-body-block {
    flex-basis: 50%;
    position: relative;
}

.profile-body-edit{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
}

.profile-edit-btn {
    background-color: white;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
}

.profile-edit-btn img{
    width: 1rem;
    height: 1rem;
}

.profile_body {
    flex-basis: 50%;
    flex-direction: column;
    gap: 0.2rem;
    padding: 1rem 0.5rem;
}

.profile_body_name {
    font-size: 1.5rem;
    font-weight: 500;
}

.profile-body_p{
    font-size: 0.9rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-fieldset {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    width: 20rem;
    padding: 2rem 1rem;
    margin: auto;
}

.profile-edit {
    padding: 2rem 10rem;
    /*min-height: 100vh;*/
    width: 100%;
}

.profile-edit-card {
    display: flex;
    max-width: 100%;
    /*margin: auto;*/
    flex-direction: row;
    gap: 2rem;
    padding: 0.2rem 1rem;
    /*border: 1px solid #d1d5db;*/
    border-radius: 1rem;
    justify-content: center;
    height: 20rem;  
}

.profile-edit-image-section {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid #9ca3af;*/
    /*border-radius: 1rem;*/
    max-width: 15rem;
    width: 15rem;
    overflow: hidden;
}

.profile-edit-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
}

.profile-edit-image-button {
    padding: 0.3rem 0.6rem;
}

.profileImageInput {
    display: none;
}

.upload-btn {
    background-color: white;
    cursor: pointer;
    padding: 0.3rem 0.6rem;
    border: 1px solid #d1d5db;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    align-items: center;
}

.profile-edit-header {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
      

.profile-edit-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}   

.profile-edit-label {
    font-size: 0.8rem;
    min-width: 5rem;
    width: 10rem;
    padding-left: 0.1rem;
}

.profile-edit-input {
    padding: 0rem 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.2rem;
    font-size: 1rem;
    min-width: 5rem;
    width: 10rem;
}

.profile-edit-textarea {
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    min-width: 20rem;
    width: 35rem;
    min-height: 5rem;
    resize: vertical;
}

.groupA {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.profile-edit-button-group {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

.profile-edit-form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
}

.profile-edit-button {
    padding: 0rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.3rem;
    background-color: white;
    cursor: pointer;
}