@import "tailwindcss";
@plugin "daisyui";

.profile {
    padding: 5rem 25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.profile_card {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.profile_image {
    width: 100%;
    height: 35rem;
    overflow: hidden;
    border-radius: 1rem;
    flex-basis: 50%;
}

.profile_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.profile_body {
    border-radius: 1rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.profile_body_name {
    font-size: 3rem;
    font-weight: bold;
}

.profile-body-details p{
    font-size: 1.3rem;
}

.profile-body-block {
    text-align: center;
}

.profile-body-btn {
    padding: 0.5rem 3rem;
    border-radius: 0.2rem;
    background-color: #40c236;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.profile-body-btn:hover {
    background-color: #3fc236cb;
}

.profile_card2 {
    margin-top: 1rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-fieldset {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    width: 20rem;
    padding: 2rem 1rem;
    margin: auto;
}

/*fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 mx-auto*/